<form name="employee" method="POST">
    <input type="text" name="name" value=""/>
    <br/>
    <input type="email" name="email" value=""/>
    <br/>
    <input type="address" name="address" value=""/>
    <br/>
    <input type="submit" value="Submit" />
</form>